@import "PlacesNStuff.css";

.App {
  text-align: center;
}

.pulse {
  animation: pulse infinite 4s linear;
}
/* keeps text on top of animations */
p {z-index: 2;}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}
.prices_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* large area styling */
.App-header {
  background-image: radial-gradient(  black, #12175a, #3f9cf7);
  min-height: 20vh;
  padding: 2px 10px 4px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
FormControl { color: white; }

.App-body {
  padding: 2rem 0 2rem 0;
  background-image: linear-gradient(to left, #4ea128, #3f9cf7, #4ea128);
  width: 100vw;
  flex-grow: 1;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.responsive-stuff {
  margin: 0.25rem;
  @media only screen and (max-width: 400px) {
    background-color: lightblue;
  }
  @media only screen and (max-width: 600px) {
    background-color: forestgreen;
  }
  @media only screen and (max-width: 900px) {
    background-color: lime;
  }

}

.css3frame-card-back { background-image: linear-gradient(to bottom, rgba(245,222,179,0.1),rgba(245,222,179,0.95), rgba(245,222,179,1)); }
.css3frame-card-back-sidefade {
    background-image: linear-gradient(to right, rgba(245,222,179,0.1), rgba(245,222,179,0.2), rgba(245,222,179,0.9)),
    linear-gradient(to left, rgba(245,222,179,0.1), rgba(245,222,179,0.2), rgba(245,222,179,0.9));
}
.css3frame-card-padding { padding: 3px 7px 7px 7px; }
.css3frame-border-1 { border: 2px sienna solid; border-radius: 2px; }
.css3frame-border-2 { border: 3px chocolate solid; border-radius: 2px; }
.css3frame-border-3 { border: 5px sandybrown solid; border-radius: 7px; }
.css3frame-border-4 { border: 2px brown solid; border-radius: 8px; }


.item-plain {
  border: white solid 0px;
}
.item-border {
  border: white solid 2px;
  background-image: radial-gradient(wheat, tan);
  padding: 2px;
  height: 48px;
  width: 48px;
}
.crop-stages-frame {
  border: white solid 2px;
  background-image: radial-gradient(wheat, tan);
  padding: 3px;
}
.seasonTile {
  max-width: 48px;
  max-height: 32px;
}
.lotta-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.lista-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navy { color: navy; }

.App-header-ctrls {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
.master-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.categorical {
  min-width: 100vw;
}
.tinted-card {
  border-radius: 1.2rem;
}
/* layout utilities */

.rowed {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.rowed * {
  margin: 0.15em;
}
.row-spacer {
  justify-content: space-around;
}
.row-spillover {
  flex-flow: row wrap;
}

.coled {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.coled * {
  margin: 0.0em;
  padding: 0.15em;
}
.text-shadow-white {
  text-shadow: 2px 2px 4px white, -2px -2px 4px white, -2px 2px 4px white, 2px -2px 4px white;
}

.no-repeat-bg {
  background-size: cover;
  resize: both;
}

.max-tallness {
  min-height: 100%;
}

.max200px {
  max-width: 200px;
  overflow-wrap: normal;
}
.max235px {
  max-width: 235px;
  overflow-wrap: normal;
}

.max400px {
  max-width: 400px;
  overflow-wrap: normal;
}

.max420px {
  max-width: 420px;
  overflow-wrap: normal;
}

@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
